.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F8F8FF;
    color: black;
    text-align: center;
    padding-top: 2rem;
    height: 15rem;
    padding-bottom: 2rem;
  }

  .icon {
      width: 24px;
      height: 24px;
      margin:10px;
  }

  .footer p {
      color: #fccd04;
      margin-top: 1rem;
  }