.projects {
    text-align: center;
    position: relative;
}


.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 1.5rem;
    text-align: center;
}

.gridItem {
    height: 40rem;
    padding: 5rem;
    color: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    align-items: center;
}


.gridItem::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(44, 130, 201, 0.9) 0%, rgba(44, 130, 201, 0.9) 100%), url("../images/projects.jpg") center no-repeat;
    background-size: cover;
    z-index: -1;
}

.gridItem h6 {
    font-family: "Sen", sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 2rem 0;
    color:#fccd04;
    padding-bottom: 1rem;
}

.gridItem p {
    font-family: "Sen", sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    // margin: 2rem 0;
    color:black;
}

.titleHeading {
    // width: 100%;
    // max-width: 50rem;
    // color: black;
    // text-transform: uppercase;
    // transform: translate(20%);
    // position: relative;
    // padding-top: 10%;
    // padding-bottom: 10%;
    // text-align: center;
    // justify-content: center;
    // align-items: center;
    // left: 25%;
    text-align: center;
    padding-bottom: 10%;
    padding-top: 10%;
}



.titleHeading h3 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.titleHeading h1 {
    font-size: 4rem;
    margin: 1rem;
    text-transform: uppercase;
    color: #fccd04;
}

.titleHeading p {
    font-size: 1.4rem;
    margin: 1rem;
    text-transform: lowercase;
}

.container {
    width:100%;
    position: relative;
    background-color: #F8F8FF;
}

.image {
    border-radius: 5%;
}

.image:hover {
    border: 1px solid #fccd04;
}


.btn {
    background-color: #fccd04;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
    position: relative;
    // left: 14rem;
    font-size: 1.4rem;
}

.btn:hover {
    background-color: #c49102;
}




